{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "firefox": "45",
          "chrome": "49",
          "safari": "9"
        },
        "useBuiltIns": "entry",
        "corejs": 3,
        "forceAllTransforms": true,
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
