{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ie 11",
            "Firefox >= 45",
            "Chrome >= 49",
            "Safari >= 9"
          ]
        },
        "useBuiltIns": "entry",
        "corejs": 3,
        "forceAllTransforms": true,
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-template-literals"
  ]
}
